body{
    text-align: center;
    display: block;
    justify-content: center;
    background-color:rgb(166, 213, 223);
}
h1{
   border:#7552F2 solid ;
    border-radius: 20px;
    background-color: #7552F2;
    width: 70%;
    height: 10%;
    position: relative;
    left: 15%;
    padding-top: 30px;
}
h3{
    border:#F2528D solid ;
    border-radius: 20px;
    background-color: #F2528D;
    width: 70%;
    height: 10%;
    position: relative;
    left: 15%;
}
.HS{
    width: 30%;
    height: 10%;
    left: 35%;
}
h1:hover{
    transition-duration: 0.20s;
    box-shadow: 4px 4px 20px #392a6e;
    font-size: 40px;
    
}
h3:hover{
    transition-duration: 0.20s;
    box-shadow: 4px 4px 20px #f2528da7;
    font-size: 20px;
    
}
.Butt{
    display: flex;
    justify-content: center;
}
.button{
    height:180px;
    width:180px;
    border:solid black 4px;
    border-radius: 10px;
    margin: 15px;
}
.button:hover{
    height:190px;
    width:190px;
    border:solid black 3px;
    border-radius: 10px;
    margin: 15px;
    transition-duration: 0.20s;
    box-shadow: 4px 4px 20px black;}
.red{
    background-color: #F2528D;
    font-size: 160px;
}
.green{
    background-color: #7552F2;
    font-size: 160px;

}
.yellow{
    background-color: #50B4F2;
    font-size: 160px;

}
.purple{
    background-color: #CE4BF2;
    font-size: 160px;

}
.flash{
    background-color: white;
}
.over{
    background-color: red;
}

.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 30px;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}